<select class="w3-select w3-border" value="<%= type %>" name="<%= key+'_type' %>">
    <option value="null">Null</option>
    <option value="undefined">Undefined</option>
    <option value="string">String</option>
    <option value="number">Number</option>
    <option value="boolean">Boolean</option>
    <option value="object">Object{}</option>
    <option value="array">Array[]</option>
</select>
